@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #FFF;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0 20px;
}

.logo a {
    font-family: 'Calistoga';
    font-size: 36px;
    color: #FFF;
    text-decoration: none;
}

.logo a span {
    color: #FE6A0F;
}

/* Header */
header .container {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
}

header nav .leftside {
    display: flex;
    flex: 1;
}

header nav li {
    margin: 0px 30px;
}

header nav li a {
    color: #FFF;
    text-decoration: none;
}

header nav li a:hover {
    color: #999;
}

header nav .button {
    display: block;
    border: 1px solid #FFF;
    padding: 15px 30px;
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
}

header nav .button:hover {
    border-color: #999;
    color: #999;
}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menu-icon div {
    height: 6px;
    background-color: #FFF;
}

/* HERO */
.hero .container {
    display: flex;
}

.hero .leftside,
.hero .rightside {
    flex: 1;
}

.hero .leftside {
    padding-bottom: 150px;
}

.hero .rightside {
    text-align: center;
}

.hero .rightside img {
    width: auto;
    height: 600px;
}

.hero h1 {
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 74px;
    margin-top: 50px;
}

.hero p{
    font-size: 20px;
    line-height: 26px;
    margin-top: 40px 0;
}

/* parei aqui 4min

.hero .button{
    display: inline-block;
    background-color: #FE6A0F;
    font-weight: 500;
}

@media (max-width: 820px) {
    header nav {
        display: none;
    }

    header .menu {
        display: flex;
    }
}